#footer{
    background-color: rgb(81, 148, 112);;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
#footer-logo{
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    color: white;
    font-size: 40;
    font-weight: 200;
}