.habits-main{
    /* text-align: center; */
    padding-top: 2%;
    padding-bottom: 1%;
    width: 100%;
    /* position: absolute; */
    /* left: 8%; */
    /* right: 8%; */
    font-family: "apercu",sans-serif;
    background-color: #e8e8e8;
    border-radius: 2%;
    font-weight: 200;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 90%;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.habit-form{
    margin-bottom: 1%;
}

.add-button{
    background-color: rgb(81, 148, 112);
    color: whitesmoke;
}


.habits-main::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}